<template lang="pug">
.chart-container
  ul.chart-tabs(data-v-step='1')
    li(
      v-for="(tool, index) in tools" 
      :tabindex="index + 1" 
      :class="tool.id === activeTool ? 'is-active' : ''"
      @click="setActiveTool(tool.id)"
      )
      .left
        img(:src="'https://dev.profitplay.com' + tool.image" alt="")
        div
          p {{ tool.displayName }}
          current-quote(:quote="$store.getters.quoteById(tool.id)").is-size-7
        
      .right
        p.level-item.is-size-5.has-text-weight-bold(:class="tool.id === activeTool ? 'has-text-success' : 'has-text-white'") 1.17
  
  //- line-chart(:activeTool="activeTool")
  //- streaming-chart(:activeTool="activeTool")
  //- test.chart(data-v-step='4' ref="lineChart")
  //- chart-controls(@resetZoom="$refs.lineChart.$data._chart.resetZoom()")
  transition(name="fade" mode="out-in"): chart-wrapper(
    v-if="isToolOpen"
    :activeTool="activeTool"
    )
  .chart.chart-not-available(data-v-step='4')
    h1.title.is-3 {{ $store.state.translations.TOOL_UNAVAILABLE }}

</template>


<script>
import CurrentQuote from "~/components/trade/CurrentQuote";
import LineChart from "~/components/trade/Charts/LineChart";
import StreamingChart from "~/components/trade/Charts/StreamingChart";
// import Test from "~/components/trade/Charts/Test";
// import ChartControls from "~/components/trade/Charts/ChartControls";
import ChartWrapper from "~/components/trade/Charts/ChartWrapper";

export default {
  components: {
    CurrentQuote,
    LineChart,
    StreamingChart,
    // Test,
    // ChartControls,
    ChartWrapper
  },

  data() {
    return {
      lineColor: "#24BB9D",
      chartDataReady: false,
      lineChartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          enabled: false
        },
        animation: {
          easing: "linear"
        }
      },

      lineChartData: {
        labels: [],
        datasets: [
          {
            label: "Котировки",
            fill: false,
            borderColor: "#24BB9D",
            data: [],
            lineTension: 0
          }
        ]
      }
    };
  },

  computed: {
    tools() {
      return this.$store.state.tools;
    },
    quotes() {
      return this.$store.state.quotes.map(quote => {
        return quote[this.activeTool];
      });
    },
    activeTool() {
      return this.$store.state.activeTool;
    },
    isToolOpen() {
      return this.$store.getters.isToolOpen(this.activeTool);
    }
  },

  methods: {
    setActiveTool(id) {
      this.$store.commit('SET_ACTIVE_TOOL', id)
    }
  },

  mounted() {
    this.setActiveTool(this.tools[0].id)
    this.chartDataReady = true;
  }
};
</script>

<style lang="scss">
.chart-container {
  background: $dark;
  height: 100%;
  border-radius: $boxBorderRadius;
}
.chart-tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  height: 3rem;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    &:not(:last-of-type) {
      border-right: 1px solid $fontGrey;
    }
    &:not(.is-active) {
      background: $bgBox;
    }
    &:hover,
    &:focus,
    &.is-active {
      color: white;
      outline: none;
    }
    &:first-of-type {
      border-top-left-radius: 6px;
    }
    &:last-of-type {
      border-top-right-radius: 6px;
    }

    .left {
      align-items: center;
      justify-content: flex-start;
      display: flex;

      img {
        height: 1.9rem;
        margin-right: 0.5rem;
      }

      .current-quote {
        width: 4rem;
        overflow: visible;
      }
    }

    .right {
      align-items: center;
      justify-content: flex-end;
    }
  }

  @media all and (max-width: 768px) {
    li:not(.is-active) {
      .left div,
      .right {
        display: none;
      }
    }
  }
}

.chart-not-available {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .title {
    color: $fontGrey;
  }
}
</style>
