<template lang="pug">
    .level.is-mobile.chart-controls
        .level-item
            //- .button.is-outlined.is-light
            //-     span.icon: i.pinup.pinup-sma
            //- .button.is-outlined.is-light
            //-     span.icon: i.pinup.pinup-sma
        .level-item: .chart-controls-zoom
            .button.is-outlined.is-light
                b-icon(icon="minus")     
            .button.is-outlined.is-light 15 мин    
            .button.is-outlined.is-light(@click="$emit('resetZoom')")
                b-icon(icon="bullseye")    
            .button.is-outlined.is-light
                b-icon(icon="plus")     
        .level-item.is-hidden-mobile
            //- p 
            //-     span.has-text-danger 60% 
            //-     span трейдеров прогнозируют повышение

</template>

<style lang="scss">
    .chart-controls {
        background: $bgBox;
        border-radius: 0 0 $boxBorderRadius $boxBorderRadius;

        .level-item {
            height: 3rem;
            @media screen and (min-width: 1024px) {
                flex-basis: 33%;
            }

            .button:not(:last-of-type) {
                margin-right: .5rem
            }
        }

        .chart-controls-zoom {
            background: $dark;
            height: 100%;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>
