<template lang="pug">
.chart-wrapper
    test.chart(
        data-v-step='4'
        ref="lineChart"
        :currentValueAnnotation="currentValueAnnotation"
        )
    chart-controls(@resetZoom="$refs.lineChart.$data._chart.resetZoom()" :width="300").is-hidden-touch
    .button.is-outlined.is-light.is-hidden-desktop.zoom-mobile(@click="$refs.lineChart.$data._chart.resetZoom()"): b-icon(icon="bullseye")    

</template>

<script>
import Test from "~/components/trade/Charts/Test";
import ChartControls from "~/components/trade/Charts/ChartControls";

export default {
  components: {
    Test,
    ChartControls
  },

  props: {
    activeTool: Number
  },

  data() {
    return {
      lastTime: ""
    };
  },

  computed: {
    quotes() {
      return this.$store.state.quotes;
    },
    timeframe() {
      return this.$store.state.timeframe;
    },
    deals() {
      return this.$store.state.openDeals;
    }
  },

  watch: {
    quotes: {
      handler() {
        const lastQuote = this.quotes[this.quotes.length - 1];

        const quote = {
          x: lastQuote.time,
          y: lastQuote.quotes && lastQuote.quotes[this.activeTool]
        };

        if (lastQuote.time / 1000 === this.lastTime / 1000) {
          let length = this.$refs.lineChart.$data._chart.data.datasets[0].data
            .length;
          this.$refs.lineChart.$data._chart.data.datasets[0].data[
            length - 1
          ] = quote;
        } else {
          this.$refs.lineChart.$data._chart.data.datasets[0].data.push(quote);
        }

        this.updateCurrentValueAnnotation(quote.y);
        this.updateCurrentTimeAnnotation(lastQuote.time);
        this.updateExpirationAnnotation(
          Date.now(),
          this.timeframe.timeframeLength * 1000
        );

        this.$refs.lineChart.$data._chart.update();

        this.lastTime = lastQuote.time;
      },
      deep: true
    },
    deals() {
      // оставляем только котировки
      this.$refs.lineChart.$data._chart.data.datasets.splice(1, Infinity)
      // дорисовываем сделки
      this.renderDeals().forEach(deal => {
        this.$refs.lineChart.$data._chart.data.datasets.push(deal);
        console.log(this.$refs.lineChart.$data._chart.data.datasets);
        this.$refs.lineChart.$data._chart.update();
      });
    }
  },

  methods: {
    updateCurrentValueAnnotation(newValue) {
      this.$refs.lineChart.$data._chart.annotation.elements[
        "current-value"
      ].options.value = newValue;
      this.$refs.lineChart.$data._chart.annotation.elements[
        "current-value"
      ].options.label.content = newValue;
    },

    updateCurrentTimeAnnotation(newDate) {
      this.$refs.lineChart.$data._chart.annotation.elements[
        "current-time"
      ].options.value = newDate;
      this.$refs.lineChart.$data._chart.annotation.elements[
        "current-time"
      ].options.label.content = this.$moment(newDate).format("HH:mm:ss");
    },

    updateExpirationAnnotation(newDate, expiration) {
      newDate += expiration;
      this.$refs.lineChart.$data._chart.annotation.elements[
        "expiration-time"
      ].options.value = newDate;
      this.$refs.lineChart.$data._chart.annotation.elements[
        "expiration-time"
      ].options.label.content = this.$moment(newDate).format("HH:mm:ss");
    },

    renderDeals() {
      // фильтруем активные сделки по текущему инструменту
      let deals = this.deals.filter(deal => {
        return deal.toolID === this.activeTool;
      });
      // конструируем датасеты для их отрисовки
      return deals.map(deal => {
        return {
          lineTension: 0,
          borderWidth: 2,
          pointRadius: 4,
          borderColor: deal.directionUP ? "#24bb9d" : "#e03d22",
          data: [
            { x: deal.timeOpen * 1000, y: deal.priceOpen },
            { x: deal.timeClose * 1000, y: deal.priceOpen }
          ],
          backgroundColor: "transparent"
        };
      });
    }
  },

  mounted() {
    console.log(this.renderDeals().length);
    console.log(this.deals.length);
    this.renderDeals().forEach(deal => {
      this.$refs.lineChart.$data._chart.data.datasets.push(deal);
      this.$refs.lineChart.$data._chart.update();
    });
  }
};
</script>

<style lang="scss">
.chart {
  height: calc(100% - 3rem);
  @media (min-width: $mobile-res) {
    height: calc(100% - 6rem);
  }
}

.chart-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.zoom-mobile {
  position: absolute;
  bottom: 5.5rem;
  left: .45rem;
}
</style>