<template lang="pug">
  .chart(data-v-step='4')
    my-line.chart-wrapper(
      :data="lineChartData" 
      :options="lineChartOptions" 
      ref="lineChart")
    chart-controls(
      @resetZoom="$refs.lineChart.$data._chart.resetZoom()"
    )
    .chart--not-active(v-show="!isToolOpen")
      h1.title Торговля по данному инструменту закрыта
</template>

<script>
import ChartControls from "~/components/trade/Charts/ChartControls";

export default {
  components: {
    ChartControls
  },

  props: {
    precision: Number,
    activeTool: Number
  },

  data() {
    return {
      spacerLength: 100, // Количество пустых точек справа
      lineChartOptions: {
        pan: {
          enabled: true,
          mode: "x",
                    rangeMin: {
            x: 100
          },
          // rangeMax: {
          //   x: 1535980800000
          // }
        },
        zoom: {
          enabled: true,
          mode: "x",
          // rangeMin: {
          //   x: 1
          // },
          // rangeMax: {
          //   x: 1000
          // }
        },
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          enabled: false
        },
        animation: {
          duration: 1000,
          easing: "linear"
        },
        elements: {
          point: {
            // radius: 0
          }
        },
        scales: {
          xAxes: [
            {
              ticks: {
                maxTicksLimit: 10,
                maxRotation: 0,
                minRotation: 0
                // autoSkipPadding: 100
                // labelOffset: 1
                // callback: function(tick, index, array) {
                //   return index % 30 ? "" : tick;
                // }
              },
              type: "time",
              // distribution: 'series',
              time: {
                minUnit: "minute",
                displayFormats: {
                  millisecond: "HH:mm:ss",
                  second: "HH:mm:ss",
                  minute: "HH:mm:ss",
                  hour: "HH:mm:ss",
                  day: "HH:mm:ss",
                  week: "HH:mm:ss",
                  month: "HH:mm:ss",
                  quarter: "HH:mm:ss",
                  year: "HH:mm:ss"
                }
              }
            }
          ],
          yAxes: [
            {
              position: "right"
            }
          ]
        }
      },
      lineChartData: {
        labels: [0],
        datasets: [
          {
            label: "Котировки",
            // fill: false,
            data: [0],
            lineTension: 0,
            borderWidth: 2,
            pointRadius: 0,
            borderColor: "#24BB9D",
            pointBackgroundColor: "#24BB9D"
          }
        ]
      },
      // Костыль для того, чтобы Vue мог увидеть разницу в мутировавшем объекте
      // https://github.com/vuejs/vue/issues/2649
      lastQuoteTime: ""
    };
  },

  watch: {
    quotes: {
      handler(newQuotes) {
        let newTime = newQuotes[newQuotes.length - 1].time;

        if (this.lastQuoteTime === newTime) {
          this.updateDot(newQuotes[newQuotes.length - 1]);
        } else {
          this.newDot(newQuotes[newQuotes.length - 1]);
        }

        // let lastPoint = this.$refs.lineChart.$data._chart.getDatasetMeta(0)
        //   .data[
        //   this.$refs.lineChart.$data._chart.getDatasetMeta(0).data.length - 1
        // ];
        // let previousPoint = this.$refs.lineChart.$data._chart.getDatasetMeta(0)
        //   .data[
        //   this.$refs.lineChart.$data._chart.getDatasetMeta(0).data.length - 2
        // ];
        // if (previousPoint) previousPoint.custom = "";
        // lastPoint.custom = lastPoint.custom || {};
        // lastPoint.custom.radius = 3;

        this.$refs.lineChart.update();

        this.lastQuoteTime = newTime;
      },
      deep: true
    },
    activeTool(newActiveTool) {
      this.setQuotes(this.quotes);
      this.$refs.lineChart.update();
    }
  },

  methods: {
    setQuotes(quotes) {
      let labels = quotes.map(quote => {
        return quote.time;
      });

      let values = quotes.map(quote => {
        return quote.quotes[this.activeTool];
      });

      // add empty space
      let dummyLabels = [labels[labels.length - 1]];
      let dummyData = [];
      for (let i = 0; i < this.spacerLength; i++) {
        dummyLabels.push(dummyLabels[dummyLabels.length - 1] + 1000);
        dummyData.push(null);
      }
      labels = labels.concat(dummyLabels);
      labels.shift();
      values = values.concat(dummyData);

      this.lineChartData.labels = labels;
      this.lineChartData.datasets[0].data = values;

      // test dummy quotes //

      ///////////////////////
    },

    newDot(quote) {
      this.lineChartData.labels.shift();
      this.lineChartData.datasets[0].data.shift();

      // this.lineChartData.labels.push(quote.time);
      // this.lineChartData.datasets[0].data.push(quote.quotes[this.activeTool]);
      this.lineChartData.labels.push(
        this.lineChartData.labels[this.lineChartData.labels.length - 1] + 1000
      );
      this.lineChartData.datasets[0].data.splice(
        -this.spacerLength,
        0,
        quote.quotes[this.activeTool]
      );
    },

    updateDot(quote) {
      this.lineChartData.datasets[0].data[
        this.lineChartData.datasets[0].data.length - 1 - this.spacerLength
      ] =
        quote.quotes[this.activeTool];
    }
  },

  computed: {
    quotes() {
      return this.$store.state.quotes;
    },
    // isToolOpen() {
    //   return this.$store.state.tools.find(tool => {
    //     tool.id === this.activeTool
    //   }).open
    // }
  },

  mounted() {
    this.setQuotes(this.quotes);

    let gradient = this.$refs.lineChart.$refs.canvas
      .getContext("2d")
      .createLinearGradient(0, 0, 0, 450);

    gradient.addColorStop(0, "rgba(36, 187, 157, 0.5)");
    gradient.addColorStop(0.5, "rgba(36, 187, 157, 0.25)");
    gradient.addColorStop(1, "rgba(36, 187, 157, 0)");

    this.lineChartData.datasets[0].backgroundColor = gradient;
  }
};
</script>

<style lang="scss">
.chart {
  height: calc(100% - 6rem);
}

.chart-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
</style>


