<template lang="pug">
    article
        header
            h1 {{ content.event }}
        .event-content {{ content.description }}
</template>

<script>
export default {
    props: {
        content: Object
    }
}
</script>


<style lang="scss">
.event-item {
    color: white;
    padding-top: 1rem;

    .event-item__title {
        font-weight: bolder;
        color: $warning;
        margin-bottom: .5rem
    }
}
</style>

