<template lang="pug">
  ul.events-calendar 
    li.event-card(
      v-for="(event) in events" 
      :key="event.id" 
      :class="event.dateMultiLang > currentTime ? '' : 'has-text-grey'"
      @click="showSecondLevel(event)")
      .level.is-mobile
        .level-item: span.event-card__date {{ event.date }}
        .level-item {{ event.time }}
        .level-item: .event-card__flag(:class="event.flag")
        .level-item {{ event.currency }}
        .level-item
          span.icon: i(class="pinup pinup-bull" v-for="n in 3" :key="n")
      p(:class="event.dateMultiLang > currentTime ? 'has-text-white' : ''").event-card__name {{ event.event }}

</template>

<script>
export default {
  components: {},

  data() {
    return {};
  },

  computed: {
    events() {
      return this.$store.state.events;
    },
    currentTime() {
      return this.$store.state.currentTime.getTime() / 1000;
    }
  },

  methods: {
    showSecondLevel(event) {
      const payload = {
        component: "EventItem",
        title: event.date + ", " + event.time,
        content: event
      };
      this.$emit("showSecondLevel", payload);
    }
  }
};
</script>

<style lang="scss">
.event-card {
  cursor: pointer;

  &:hover,
  &.is-active {
    .event-card__name {
      color: $warning !important;
    }
  }

  .level {
    margin-bottom: 0.5rem;
  }

  .event-card__date {
    width: 100%;
  }
}

.event-card + .event-card {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  margin-top: 1rem;
  padding-top: 1rem;
}
</style>
