// TODO отрефакторить это говно, скорее всего вообще переделать
<template lang="pug">
  no-ssr: div
    tutorial-component(ref="tour")
    .left-nav
      vue-perfect-scrollbar.left-nav-menu
        ul#leftNavMenuList
          li(
            v-for="(menuItem, index) in menuItems"
            :key="index"
            :id="menuItem.id"
          )
            a(@click="menuItemClick(index, menuItem)" :class="activeItem === index ? 'is-active' : ''").left-nav-menu-item
              span.icon.is-large: i(:class="'pinup pinup-'+menuItem.icon")
              span.left-nav-menu-item__label {{ menuItem.label }}
              b-tag(v-if="notifications[menuItem.id]" rounded type="is-danger") {{ notifications[menuItem.id] }}

        .left-nav-menu-controls
          button.button.is-dark.has-text-grey 
            b-icon(icon="settings")
          button.button.is-dark.has-text-grey(@click="soundOn = !soundOn")
            b-icon(:icon="soundOn ? 'volume-high' : 'volume-off'")
      
      .left-nav-content(:style="contentWidth")
        transition(:name="firstLevelTransition")
          .card.left-nav-content--first-level(v-show="firstLevelActive")
            .card-header
              p.card-header-title {{ currentTabActiveLabel }}
              a.card-header-icon(@click="menuItemClick(activeItem)").has-text-grey
                b-icon(icon="close")
            vue-perfect-scrollbar.card-content
              transition(name="fade")
                component(:is="currentComponent" @showSecondLevel="showSecondLevel($event)")
        transition(name="fade")
          .card.left-nav-content--second-level(v-show="secondLevelActive")
            .card-header
              p.card-header-title {{ secondLevelTitle }}
              a.card-header-icon(@click="secondLevelActive = false").has-text-grey
                b-icon(icon="close")
            vue-perfect-scrollbar.card-content
              // transition(name="fade")
              component(:is="secondLevelComponent" :content='secondLevelContent')            
    
</template>

<script>
import TournamentsList from "~/components/trade/LeftNav/TournamentsList.vue";
import BetHistory from "~/components/trade/History/BetHistory.vue";
import EventsCalendar from "~/components/trade/LeftNav/EventsCalendar.vue";
import NewsList from "~/components/trade/LeftNav/NewsList.vue";
import TutorialComponent from "~/components/trade/TutorialComponent";
import EventItem from "~/components/trade/LeftNav/EventItem";
import NewsItem from "~/components/trade/LeftNav/NewsItem";


export default {
  components: {
    TournamentsList,
    BetHistory,
    EventsCalendar,
    NewsList,
    TutorialComponent,
    EventItem,
    NewsItem,
    // EventItem
  },

  data() {
    return {
      soundOn: true,
      currentTabActiveLabel: "Заголовок",
      isNav: true,
      firstLevelActive: false,
      secondLevelActive: false,
      activeItem: "",
      currentComponent: "",
      secondLevelComponent: "",
      secondLevelTitle: "",
      secondLevelContent: "",
      contentWidth: this.firstLevelActive ? 'min-width: 336px' : 'min-width: 0'

    };
  },

  watch: {
    firstLevelActive(bool) {
      this.contentWidth = bool ? 'min-width: 336px' : 'min-width: 0'
    }
  },

  computed: {
    firstLevelTransition() {
      return this.firstLevelActive ? "slide-next" : "slide-prev";
    },
    notifications() {
      return {
        deals: this.$store.state.openDeals.length,
        tutorials: 1
      };
    },
    menuItems() {
      return [
        {
          id: "deals",
          label: this.$store.state.translations.LEFT_NAV_DEALS,
          icon: "deals",
          component: "bet-history"
        },
        // {
        //   id: "tournaments",
        //   label: this.$store.state.translations.LEFT_NAV_TOURNAMENTS,
        //   icon: "tournament",
        //   component: "tournaments-list"
        // },
        {
          id: "news",
          label: this.$store.state.translations.LEFT_NAV_NEWS,
          icon: "news",
          component: "news-list"
        },
        // {
        //   id: "events",
        //   label: this.$store.state.translations.LEFT_NAV_EVENTS,
        //   icon: "events",
        //   component: "events-calendar"
        // },
        {
          id: "tutorials",
          label: this.$store.state.translations.LEFT_NAV_TUTORIALS,
          icon: "tutorial"
        }
        // {
        //   id: "vip",
        //   label: "VIP",
        //   icon: "account"
        // }
      ];
    }
  },

  methods: {
    menuItemClick(index, menuItem) {
      this.secondLevelActive = false;

      if (this.menuItems[index].id === "tutorials") {
        this.firstLevelActive = false;
        this.activeItem = index;
        // this.$tours["dashboardTour"].start();
        this.$refs.tour.start()
        return;
      }
      if (index === this.activeItem) {
        this.activeItem = "";
        this.firstLevelActive = false;
        // this.currentComponent = ''
      } else {
        this.activeItem = index;
        this.firstLevelActive = true;
        this.currentComponent = menuItem.component;
        this.currentTabActiveLabel = menuItem.label;
      }
    },
    showSecondLevel(event) {
      this.secondLevelActive = true;
      this.secondLevelComponent = event.component;
      this.secondLevelTitle = event.title;
      this.secondLevelContent = event.content;
    }
  }
};
</script>

<style lang="scss">
.left-nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;

  .left-nav-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $bgDark;
    z-index: 2;

    .left-nav-menu-item {
      display: block;
      text-align: center;
      padding: 0 0.5rem;
      position: relative;
      color: $fontGrey;
      border-bottom: 1px solid $fontGrey;
      @media screen and (min-width: 1024px) {
        padding: 0.5rem;
      }

      &.is-active {
        color: white;

        .icon {
          color: $warning;
        }
      }

      .left-nav-menu-item__label {
        display: block;
      }

      .tag {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }
    }

    .left-nav-menu-controls {
      margin-bottom: 0;
      margin-top: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 0.75rem;

      .button {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .left-nav-content {
    height: 100%;
    display: flex;
    // width: 406px;

    // Я у мамы дизайнер ыыыы
    .label {
      text-transform: uppercase;
      text-align: center;
      margin: 0.6rem -1.5rem;
      margin-top: 0;
      padding: 0.8rem 0;
      border-bottom: 1px solid $fontGrey;
    }

    .card-content {
      padding-top: 0;
      max-height: calc(100% - 3rem);
    }

    .left-nav-content--first-level,
    .left-nav-content--second-level {
      height: 100%;
      overflow: hidden;
      width: 336px;

      .card-header-title {
        text-transform: uppercase;
        text-align: center;
        display: block;
        font-weight: bolder;
        margin-right: -2.5rem;
      }
    }

    @media screen and (max-width: 1024px) {
      .left-nav-content--second-level {
        transform: translateX(-100%);
      }
    }
  }
}

// .slide-down-enter-active,
// .slide-down-leave-active,
// .slide-up-enter-active,
// .slide-prev-leave-active {
//     transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
// }
// .slide-up-leave-to, .slide-down-enter {
//     transform: translate3d(0, -100%, 0);
//     position: absolute;
//     width: 100%;
// }
// .slide-up-enter, .slide-down-leave-to {
//     transform: translate3d(0, 100%, 0);
//     position: absolute;
//     width: 100%;
// }
</style>
