<template lang="pug">
  ul.news-list
    li.news-card(v-for="(news) in news" :key="news.id" @click="showSecondLevel(news)")
      p.news-card__date {{ news.pubDate | moment("dddd, Do MMMM, H:mm") }}
      p.news-card__name 
        | {{ news.name }}
        b-icon(icon="chevron-double-right" size="is-small")


</template>

<script>
export default {
  components: {},

  data() {
    return {};
  },

  computed: {
    news() {
      return this.$store.state.news;
    }
  },

  methods: {
    showSecondLevel(news) {
      const payload = {
        component: "NewsItem",
        title: this.$moment(news.pubDate).format("dddd, MMMM D YYYY, HH:mm"),
        content: news
      };
      this.$emit("showSecondLevel", payload);
    }
  }
};
</script>

<style lang="scss">
.news-card__date::first-letter {
  text-transform: uppercase;
}

.news-card {
  cursor: pointer;

  .news-card__name {
    color: white;
  }

  &:hover,
  &.is-active {
    .news-card__name {
      color: $warning;
    }
  }
}

.news-card + .news-card {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  margin-top: 1rem;
  padding-top: 1rem;
}
</style>
