<template lang="pug">
    article.news-item.content
        header
            h1.title.is-size-5.has-text-warning {{ content.name }}
        .news-content(v-html="content.description")
</template>

<script>
export default {
    props: {
        content: Object
    }
}
</script>


<style lang="scss">
.news-item {
    color: white;
    padding-top: 1rem;

    .news-item__title {
        font-weight: bolder;
        color: $warning;
        margin-bottom: .5rem
    }
}
</style>

