<template lang="pug">
  b-tabs(type="is-toggle" v-model="activeTab" expanded).tournament-tabs
    b-tab-item(label="Текущие")
      article.image.is-1by1.box.tournament-card(v-for="(tournament, index) in tournaments" :key="index")
        img(:src="tournament.img" :alt="tournament.label")
        .tournament-card-content.has-text-white
          h1.title.has-text-white {{ tournament.label }}
          .tournament-card-timer 
            p.title.is-6.has-text-white До окончания турнира
          .tournament-card-prize
            p.title.is-6.has-text-white Призовой фонд
            p.subtitle.is-4.has-text-warning.has-text-weight-bold {{ tournament.prize }}
          button(type="button" v-hoveranimation).button.is-danger Принять участие в турнире {{  tournament.price }}

    b-tab-item(label="Будущие")
      .image.is-1by1.box.tournament-card
        img(src='http://nesselbeck.ru/files/al1a7179-1.jpg' alt='')
        .tournament-card-content
    b-tab-item(label="Архив")
</template>

<script>
export default {
  components: {},

  data() {
    return {
      activeTab: 0,
      tournaments: [
        {
          label: "Турнир №1",
          expiration: "",
          prize: "150",
          price: "20000",
          img:
            "http://hellotraveler.ru/wp-content/uploads/2017/07/Kaltenberger-Rittertunier-23.jpg"
        },
        {
          label: "Турнир №1",
          expiration: "",
          prize: "150",
          price: "20000",
          img:
            "http://hellotraveler.ru/wp-content/uploads/2017/07/Kaltenberger-Rittertunier-23.jpg"
        }
      ]
    };
  },

  computed: {}
};
</script>

<style lang="scss">
.tournament-tabs {
  .tab-content {
    padding: 1rem 0;
    display: block;
  }

  .tournament-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color .3s;
    &:hover {
      border: 2px solid $warning;
    }

    img {
      object-fit: cover;
    }

    .tournament-card-content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    }
  }
}
</style>
