@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9wp2l0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9wp2l0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9wp2l0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon.is-large .pinup {
  font-size: 2.5em;
}

.pinup {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pinup-tutorial {
  &:before {
    content: $pinup-tutorial; 
  }
}
.pinup-down {
  &:before {
    content: $pinup-down; 
  }
}
.pinup-events {
  &:before {
    content: $pinup-events; 
  }
}
.pinup-up {
  &:before {
    content: $pinup-up; 
  }
}
.pinup-news {
  &:before {
    content: $pinup-news; 
  }
}
.pinup-deals {
  &:before {
    content: $pinup-deals; 
  }
}
.pinup-tournament {
  &:before {
    content: $pinup-tournament; 
  }
}
.pinup-sma {
  &:before {
    content: $pinup-sma; 
  }
}
.pinup-bull {
  &:before {
    content: $pinup-bull; 
  }
}
.pinup-crown {
  &:before {
    content: $pinup-crown; 
  }
}

