$icomoon-font-family: "Pinup" !default;
$icomoon-font-path: "fonts" !default;

$pinup-tutorial: "\e900";
$pinup-down: "\e901";
$pinup-events: "\e902";
$pinup-up: "\e903";
$pinup-news: "\e904";
$pinup-deals: "\e905";
$pinup-tournament: "\e906";
$pinup-sma: "\e907";
$pinup-bull: "\e908";
$pinup-crown: "\e909";

