<template lang="pug">
  .bet-control-panel.columns.is-multiline
    .column.is-12
        expiration-select
    .column.is-12
        bet-select(@betChanged="currentBet=$event")
    .column.is-12.place-bet-container
        place-bet(@confirmedPlacingBet="placeBet($event)" :actionsDisabled="actionsDisabled")   
   
</template>

<script>
import ExpirationSelect from "~/components/trade/BetControls/ExpirationSelect.vue";
import BetSelect from "~/components/trade/BetControls/BetSelect.vue";
import PlaceBet from "~/components/trade/BetControls/PlaceBet.vue";

export default {
  components: {
    ExpirationSelect,
    BetSelect,
    PlaceBet
  },

  data() {
    return {
      notEnoughMoney: false,
      actionsDisabled: false,
      currentBet: 100
    };
  },

  computed: {
    currentToolID() {
      return this.$store.state.activeTool;
    },
    currentTimeframe() {
      return this.$store.state.timeframe
    }
  },

  methods: {
    placeBet(direction) {
      // Блокируем кнопки ставок пока не придёт ответ от сервера
      this.actionsDisabled = true;

      // Формируем данные по ставке
      const deal = {
        timeFrameID: this.currentTimeframe.id,
        toolID: this.currentToolID,
        bet: this.currentBet,
        directionUP: direction
      };

      // тут валидация
      // конец валидации

      // Отправка сделки на сервер
      const _this = this;
      this.$socket.request(
        "createOption",
        deal,
        function(response) {
          console.log(response);

          switch (response.status) {
            case 0:
              // добавление сделки в историю
              _this.$store.commit("ADD_OPEN_DEAL", response.data);
              break;
            case 2:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_2,
                type: "is-danger"
              });
              break;
            case 4:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_4,
                type: "is-danger"
              });
              break;
            case 5:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_5,
                type: "is-danger"
              });
              break;
            case 6:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_6,
                type: "is-danger"
              });
              break;
            case 7:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_7,
                type: "is-danger"
              });
              break;
            case 8:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_8,
                type: "is-danger"
              });
              break;
            case 11:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_11,
                type: "is-danger"
              });
              break;
            case 12:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_12,
                type: "is-danger"
              });
              break;
            case 17:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_17,
                type: "is-danger"
              });
              break;
            case 18:
              _this.$dialog.alert({
                title: _this.$store.state.translations.ERROR,
                message: _this.$store.state.translations.CREATE_OPTION_18,
                type: "is-danger"
              });
              break;
            default:
              _this.$dialog.alert("Something went wrong");
          }

          _this.$snackbar.open({
            message: `Default, positioned bottom-right with a green 'OK' button`,
            position: "is-bottom-left"
          });

          _this.actionsDisabled = false;
        },
        4000
      );
    }
  }
};
</script>

<style lang="scss">
.bet-control-panel {
  .label {
    text-transform: uppercase;
    font-size: .75rem;
  }
  .place-bet-container {
    @media (max-width: 1024px) {
      // min-width: 13rem;
      position: absolute;
      bottom: 9px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .bet-control-panel {
    // min-width: 13rem;
    background-color: #2b2b2b;
    height: 100%;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    border-radius: $boxBorderRadius;
    .column.is-12 {
      padding: 0
    }
    .expiration-select .field {
      margin-bottom: 0;
    }
    .bet-select {
      padding-top: 0;
      box-shadow: none;
    }
  } 
}

</style>
