<template lang="pug">
  .box.bet-select(data-v-step='3')
    b-field(:label="$store.state.translations.BET")
        b-dropdown(v-model="newBet")
            button.button.is-fullwidth.is-dark(slot="trigger") {{ newBet }}&nbsp;RUB
            b-dropdown-item(v-for="(bet, index) in betList" :value="bet" :key="index") {{ bet }}&nbsp;RUB
    b-field(grouped style="margin-bottom:0!important;").is-hidden-mobile
        .button.is-fullwidth.bet-select__minus.is-dark(@click="getSiblingValue(-1)")
            b-icon(icon="minus")
        .button.is-fullwidth.bet-select__plus.is-dark(@click="getSiblingValue(1)")
            b-icon(icon="plus")
    b-modal(:active.sync="notEnoughMoney" has-modal-card :canCancel="['escape', 'outside']")
      //- not-enough-money-promt

</template>

<script>
import NotEnoughMoneyPromt from "~/components/trade/BetControls/NotEnoughMoneyPromt.vue";

export default {
  components: {
    NotEnoughMoneyPromt
  },

  data() {
    return {
      newBet: 100,
      notEnoughMoney: false
    };
  },

  computed: {
    balance() {
      return this.$store.state.user.balance;
    },
    betList() {
      return this.$store.state.deals.bets;
    }
  },

  watch: {
    newBet: function() {
      // if (this.newBet <= this.balance) {
      //   this.$store.commit("changeCurrentBet", this.newBet);
      // } else {
      //   this.$store.commit("changeCurrentBet", this.balance);
      //   this.newBet = this.balance;
      //   this.notEnoughMoney = true;
      // }
      this.$emit('betChanged', this.newBet)
    }
  },

  methods: {
    getSiblingValue: function(direction) {
      const currentIndex = this.betList.indexOf(this.newBet);
      let nextIndex = currentIndex + direction;

      if (nextIndex === this.betList.length) {
        nextIndex = 0;
      } else if (nextIndex < 0) {
        nextIndex = this.betList.length - 1;
      }
      this.newBet = this.betList[nextIndex];
    }
  }
};
</script>

<style lang="scss">
.bet-select {
  .dropdown {
    width: 100%;

    .dropdown-trigger {
      width: 100%;
    }

    .dropdown-menu {
      width: 100%;

      .dropdown-content {
        display: flex;
        flex-wrap: wrap;

        .dropdown-item {
          flex-basis: 50%;
          padding-right: 1rem;
        }
      }
    }
  }

  &__minus {
    margin-right: 0.375rem;
    height: 3rem;
  }
  &__plus {
    margin-left: 0.375rem;
    margin-right: 0;
    height: 3rem;
  }
}
</style>
