<template lang="pug">
  .box.expiration-select(data-v-step='2')
    b-field(:label="$store.state.translations.EXPIRATION")
        b-dropdown(v-model="currentTimeframe")
            button.button.is-fullwidth.is-dark(slot="trigger") {{ currentTimeframe.name }}
            b-dropdown-item(v-for="(timeframe) in timeframes" :value="timeframe" :key="timeframe.id") {{ timeframe.name }}
    b-field(grouped).is-hidden-mobile
        .button.is-fullwidth.expiration-select__minus.is-dark(@click="getSiblingValue(-1)")
            b-icon(icon="minus")
        .button.is-fullwidth.expiration-select__plus.is-dark(@click="getSiblingValue(1)")
            b-icon(icon="plus")
</template>

<script>
export default {
  data() {
    return {
      currentTimeframe: {}
    };
  },

  computed: {
    timeframes() {
      return this.$store.state.timeframes;
    }
  },

  watch: {
    timeframes: function() {
      this.currentTimeframe = this.timeframes[0]
    },
    currentTimeframe: function() {
      if (this.currentTimeframe && this.currentTimeframe.hasOwnProperty('id')) this.$store.commit('SET_CURRENT_TIMEFRAME', this.currentTimeframe)
    }
  },

  mounted() {
    this.currentTimeframe = this.timeframes[0]
  },

  methods: {
    getSiblingValue: function(direction) {
      const currentIndex = this.timeframes.indexOf(this.currentTimeframe);
      let nextIndex = currentIndex + direction;

      if (nextIndex === this.timeframes.length) {
        nextIndex = 0;
      } else if (nextIndex < 0) {
        nextIndex = this.timeframes.length - 1;
      }
      this.currentTimeframe = this.timeframes[nextIndex];
    }
  }
};
</script>

<style lang="scss">
.expiration-select {
  .dropdown {
    width: 100%;

    .dropdown-trigger {
      width: 100%;
    }

    .dropdown-menu {
      width: 100%;

      .dropdown-content {
        display: flex;
        flex-wrap: wrap;

        .dropdown-item {
          flex-basis: 50%;
          padding-right: 1rem;
        }
      }
    }
  }

  &__minus {
    margin-right: 0.375rem;
    height: 3rem;
  }
  &__plus {
    margin-left: 0.375rem;
    margin-right: 0;
    height: 3rem;
  }
}
</style>
