<template lang="pug">
  section.modal-card
    header.modal-card-head
      h1.modal-card-title Открыте сделки
      button.delete(type="button" @click="$parent.close()")
    .modal-card-body
      .field
        p Будет открыта сделка бла бла бла
      .field
        b-switch(v-model="oneClickDeal") Включить сделку в один клик
        p.help Вы больше не будете видеть это окно. Вы всегда можете отменить это решение в настройках.          
    footer.modal-card-foot
      //- button.button(
      //-   type="button"
      //-   @click="$parent.close()"
      //- ) Отмена
      button.button.is-danger(
        type="button"
        v-hoveranimation 
        @click="confirm()"
      ) Купить
      
</template>

<script>
export default {
  props: {
    direction: Number
  },

  data() {
    return {
      oneClickDeal: false
    };
  },

  methods: {
    confirm: function() {
      if (this.oneClickDeal) {
        this.$store.commit("toggleOneClickDeal");
      }

      this.$emit("confirm");
      this.$parent.close();
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
