<template lang="pug">
  section.modal-card
    header.modal-card-head
      h1.modal-card-title Недостаточно средств
      button.delete(type="button" @click="$parent.close()")
    .modal-card-body
       
    footer.modal-card-foot
      button.button.is-primary(
        type="button"
        v-hoveranimation
        @click="$parent.close()"
      ) Ва-банк!
      button.button.is-warning(
        type="button"
        v-hoveranimation 
        @click="confirm()"
      ) Пополнить счёт
      
</template>

<script>
export default {
  props: {
    balance: Number,
    currency: String
  },

  data() {
    return {
      oneClickDeal: false
    };
  },

  methods: {
    confirm: function() {
      if (this.oneClickDeal) {
        this.$store.commit("toggleOneClickDeal");
      }

      this.$emit("confirm");
      this.$parent.close();
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
