<template lang="pug">
  .box(data-v-step='5')
    .place-bet
      button.button.is-success.is-large.place-bet--up(@click="confirmPlacingBet(true)" :disabled="actionsDisabled") 
        span.is-hidden-mobile {{ $store.state.translations.BUTTON_UP }}
        span.is-size-3.has-text-weight-bold &nbsp;1.17&nbsp;
        span.is-hidden-mobile.icon: i.pinup.pinup-up
      current-quote.is-hidden-mobile(:quote="$store.getters.quoteById(currentTool)") {{ $store.state.translations.CURRENT_QUOTES }} 

      button.button.is-danger.is-large.place-bet--down(@click="confirmPlacingBet(false)" :disabled="actionsDisabled") 
        span.is-hidden-mobile {{ $store.state.translations.BUTTON_DOWN }}
        span.is-size-3.has-text-weight-bold &nbsp;1.17&nbsp;
        span.is-hidden-mobile.icon: i.pinup.pinup-down
    
    b-modal(:active.sync="newDealPromtActive" has-modal-card :canCancel="['escape', 'outside']")
      new-deal-promt(
        @confirm="tryPlacingBet(direction)"
        :direction="direction"
      )
</template>

<script>
import NewDealPromt from "~/components/trade/BetControls/NewDealPromt.vue";
import CurrentQuote from "~/components/trade/CurrentQuote";

export default {
  components: {
    NewDealPromt,
    CurrentQuote
  },

  props: {
    actionsDisabled: Boolean
  },

  data() {
    return {
      newDealPromtActive: false,
      direction: true,
      isUp: ''
    };
  },

  computed: {
    oneClickDeal() {
      return this.$store.state.deals.oneClickDeal;
    },
    currentRate() {
      let quoteDirection = this.$store.getters.quoteDirection(this.currentTool)

      return quoteDirection
    },
    currentTool() {
      return this.$store.state.activeTool;
    }
  },

  methods: {
    confirmPlacingBet: function(newDirection) {
      this.direction = newDirection;

      if (!this.oneClickDeal) {
        this.newDealPromtActive = true;
      } else {
        this.$emit("confirmedPlacingBet", this.direction);
      }
    },

    tryPlacingBet: function() {
      this.$emit("confirmedPlacingBet", this.direction);
    }
  }
};
</script>

<style lang="scss">
.place-bet {
  .current-quote {
    font-weight: bold;
    padding: 12px 0;

    // &__unchanged {
    //   color: white;
    // }

    &__label {
      font-weight: 600;
    }
  }

  .button.place-bet--down, .button.place-bet--up {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);

    @media screen and (max-width: 1024px) {
      width: 49%;
      // padding-bottom: 45%;
      height: 4.2rem;
      &:first-of-type {
        margin-right: 2%;
      }
    }

    .icon {
      opacity: 0.5;
    }
  }
}
</style>
