<template lang="pug">
  .bet-history
    h2.label.has-text-white {{ $store.state.translations.ACTIVE_DEALS }}
    transition-group(tag="ul" name="fade")
      history-item(
        v-for="(deal, index) in activeDeals" 
        :key="index"
        :deal="deal") 
        closed-deal(:deal="deal")
    p(v-if="activeDeals.length == 0").has-text-centered.no-active-deals {{ $store.state.translations.NO_ACTIVE_DEALS }}

    h2.label.has-text-white  {{ $store.state.translations.BET_HISTORY }}
    transition-group(tag="ul" name="fade")
      closed-deal(
        v-for="(deal, index) in completedDeals" 
        :key="index"
        :deal="deal") 
</template>

<script>
import HistoryItem from "~/components/trade/History/HistoryItem";
import ClosedDeal from "~/components/trade/History/ClosedDeal";

export default {
  components: {
    HistoryItem,
    ClosedDeal
  },

  computed: {
    completedDeals() {
      return this.$store.state.closedDeals;
    },
    activeDeals() {
      return this.$store.state.openDeals;
    }
  }
};
</script>

<style lang="scss">
.no-active-deals {
  margin: 1rem 0;
}

</style>
