<template lang="pug">
    li.media.deal
      p.deal__date {{ deal.timeClose | moment("from", currentTime) }}
      .media-left.deal-info
        img(:src="'https://dev.profitplay.com' + tool.image" :alt="tool.displayName")
        div
          p.deal-info__price-open(:class="deal.directionUP ? 'has-text-success' : 'has-text-danger'") {{ deal.priceOpen }}
          p.has-text-white {{ tool.displayName }}
      .media-content
        
      .media-right
        p(:class="result.class") {{ result.direction + deal.currency + result.amount }}
        p.deal__bet {{ deal.currency + " " + deal.bet }}

</template>

<script>
export default {
  props: {
    deal: Object
  },

  data() {
    return {};
  },

  computed: {
    result() {
      let result = {
        amount: " " + this.deal.change,
        direction: "+ ",
        class: "has-text-success"
      };

      if (this.deal.change === this.deal.bet) {
        result.amount = " " + 0;
        result.direction = "";
        result.class = "";
      } else if (this.deal.change < this.deal.bet) {
        result.amount = " " + this.deal.bet;
        result.direction = "− ";
        result.class = "has-text-danger";
      }
      return result;
    },
    tool() {
      let tool = this.$store.state.tools.find(
        tool => tool.id === this.deal.toolID
      )
      return tool ? tool : '' 
    }
  }
};
</script>

<style lang="scss">
.deal {
  flex-wrap: wrap;
  &+.deal {
    border-top: 1px solid $fontGrey;
  }

  .deal__date {
    width: 100%;
  }

  .deal-info {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.5rem;
      height: 2.3rem;
    }

    .deal-info__price-open.has-text-success:after {
      content: " ▲";
    }
    .deal-info__price-open.has-text-danger:after {
      content: " ▼";
    }
  }

  .deal__bet {
    color: white;
  }

  .media-right {
    text-align: right;
  }
}
</style>
