<template lang="pug">
    li.active-deal
      .level.is-mobile
        .active-deal__timer
          radial-progress-bar(
            :diameter="40"
            :completed-steps="completedSteps"
            :total-steps="totalSteps"
            innerStrokeColor="#1a1a1a"
            startColor="#FDB62C"
            stopColor="#FDEA23"
            :strokeWidth="strokeWidth"
          )
            span.has-text-white {{ completedSteps }}
        .active-deal__date
          span {{ deal.timeOpen | moment("from", currentTime*1000) }}
      slot
</template>

<script>
// import { timer } from "vue-timers";
import RadialProgressBar from "~/components/trade/History/RadialProgressBar.vue";

export default {
  components: {
    RadialProgressBar
  },

  props: {
    deal: Object
  },

  data() {
    return {
      totalSteps: this.deal.timeClose - this.deal.timeOpen,
      completedSteps: this.deal.timeClose - this.deal.timeOpen,
      strokeWidth: 2,
      diameter: 40
    };
  },

  watch: {
    currentTime(time) {
      this.completedSteps = this.deal.timeClose - time;
    }
  },

  computed: {
    currentTime() {
      return this.$store.state.currentTime;
    }
  }
};
</script>

<style lang="scss">
.active-deal {
  border-bottom: 1px solid $fontGrey;
  padding: 1rem 0;

  .deal__date {
    display: none !important;
  }

  .level {
    margin-bottom: 0.3rem;
  }
}
</style>
