<template lang="pug">
  picture#logo
    source(media="screen and (max-width: 1024px)" srcset="asset/img/assets/header/pinup.svg")
    img(src="files/img/header/logo_casino.svg")
</template>

<style>

</style>
