<template lang="pug">
  footer.footer#footer
    .container
        .columns
          


</template>

<script>
// import Test from '~/components/Test.vue'

export default {
  components: {

  },

  props: {
      
  }
}
</script>

<style>

</style>
