$success: #24bb9d;
$danger: #e03d22;
$warning: #fdb62c;

$fontGrey: #5c5c5c;

$bgDark: #1a1a1a;

$dark: #363636;
$dropdown-background-color: #2b2b2b;

$bgBox: #2b2b2b;

$boxBorderRadius: 6px;

$border: hsl(0, 0%, 86%);

$overlay: rgba(0, 0, 0, 0.8);

$mobile-res: 1024px;