@import "~bulma/sass/utilities/_all";
@import "./variables";

html {
  background-color: $bgDark !important;
  font-size: 13px!important;

  @media all and (max-width: 768px) {
    font-size: 12px!important;
  }
}

$fullhd: 1900px + (2 * $gap);

$colors: (
  "success": (
    $success,
    $success-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  )
);

$box-background-color: $bgBox;
$box-padding: 5px;
$box-color: $fontGrey;
.box .label {
  color: $box-color;
}

$card-color: $fontGrey;
$card-background-color: #2b2b2b;
$card-header-color: white;
// $card-shadow: 0 2px 3px rgba(black, 0.5), 0 0 0 1px rgba(black, 0.5);
.card {
  border-right: 1px solid $fontGrey;
  .card-header {
    border-bottom: 1px solid $fontGrey;
  }
}

// $tabs-toggle-link-active-background-color: #333333;
// $tabs-toggle-link-active-border-color: #333333;





$dropdown-content-background-color: $dropdown-background-color;
$dropdown-item-color: white;
$dropdown-item-active-background-color: $warning;
$dropdown-item-active-color: $fontGrey;
$dropdown-item-hover-background-color: #333333;
$dropdown-item-hover-color: white;
@import "~bulma";
@import "~buefy/src/scss/buefy";
// все изменения, которые не получилось поправить переопределением переменных, вносить после этих импортов

.button.is-light.is-outlined {
  border-color: $fontGrey;
  color: $fontGrey;

  &:hover {
    border-color: $fontGrey;
    background: $fontGrey;
    color: white;
  }
}

// modals
.modal-card {
  border: 1px solid $border;
  border-radius: $boxBorderRadius;
}

.modal-card-body {
  background-color: $fontGrey;
  color: white;
}

.modal-card-title {
  color: white;
}
.modal-card-foot,
.modal-card-head {
  border-color: $fontGrey;
  color: white;
  background-color: $box-background-color;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}
// dropdown
.dropdown .dropdown-trigger {
  border-radius: 3px;
  border: 1px solid $fontGrey;
  &::before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1px;
    border-top: 1px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid $fontGrey;
    
    z-index: 2;
  }
  .button {
    height: 3rem;
  }

} 
.dropdown.is-active .dropdown-trigger {
  border-color: $warning;
  &::before {
    bottom: -12px;
    border-top: 6px solid $warning;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid transparent;
 
  }
}
.dropdown .button {
  height: 100%;
} 
.dropdown .button.is-dark {
  background-color: #2f2f2f;
}
.dropdown .dropdown-menu {
  padding-top: 7px;
 
}
.dropdown .dropdown-menu .dropdown-content {
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid $fontGrey;
}
.dropdown .dropdown-item {
  font-size: 13px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid  $fontGrey;
  border-right: 1px solid  $fontGrey;
  
}
.dropdown .dropdown-item:nth-child(even) {
  border-right: none;
}

 // tabs
.tabs.is-toggle li.is-active a {
  background-color: $dark;
  border-color: $dark;
}
.tabs.is-toggle a {
  background: $bgDark;
  border-color: transparent;
  color: $fontGrey;
}
.tabs.is-toggle li:not(:first-of-type) a {
  border-left: 1px solid $fontGrey;
}

