$arrowColor: rgba(255, 255, 255, 0.3);
.hover-animation {
  background-image: linear-gradient(
      135deg,
      transparent 36%,
      $arrowColor 36%,
      $arrowColor 48%,
      transparent 48%,
      transparent 52%,
      $arrowColor 52%,
      $arrowColor 64%,
      transparent 64%
    ),
    linear-gradient(
      45deg,
      transparent 36%,
      $arrowColor 36%,
      $arrowColor 48%,
      transparent 48%,
      transparent 52%,
      $arrowColor 52%,
      $arrowColor 64%,
      transparent 64%
    ),
    linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
  background-position: bottom, top, center;
  background-repeat: no-repeat;
  background-size: 100px 50%, 100px 50%, 100%;
  &.animated {
    animation: arrow 1s;
  }
}

// TODO Для мнгновенного перемещения стрелки посередине таймлайна возможно стоит почитать про step() 
@keyframes arrow {
  0% {
    background-position: center bottom, center top, center;
  }
  50% {
    background-position: right -100px bottom 0px, right -100px top 0px, center;
  }
  50.1% {
    background-position: left -100px bottom 0px, left -100px top 0px, center;
  }
  100% {
    background-position: center bottom, center top, center;
  }
}