<template lang="pug">
  .section
    .container
      .columns
        .column.is-2
        .column.is-10
          .columns.is-multiline.is-mobile
            game-card(
                v-for="(game, key) in games"
                :key="key"
                :game="game"
            )
            
</template>

<script>
import GameCard from "~/components/casino/games/GameCard.vue";

export default {
  components: {
    GameCard
  },

  data() {
    return {
      games: [
        {
          name: "888 Gold",
          imgSrc: "888_gold.png",
          demo: true
        },
        {
          name: "Queen of Gold",
          imgSrc: "queen_of_gold.png",
          demo: false
        },
        {
          name: "3 Kingdoms – Battle of Red Cliffs",
          imgSrc: "3_kingdoms.png",
          demo: true
        }
      ]
    };
  }
};
</script>

<style>
</style>
