<template lang="pug">
.column.is-3
  figure.image.box
    img(:src="`img/casino/games/${game.imgSrc}`" :alt="game.name")
    figcaption
      p {{ game.name }}
            
</template>

<script>
export default {
  props: {
    game: Object
  },


}

</script>

<style>
</style>
