<template lang="pug">
  .base-layout
    nuxt
    //- footer-component
</template>

<style>
</style>

<script>
// import FooterComponent from "~/components/FooterComponent.vue";

export default {
  components: {
    // FooterComponent
  }

  // head: {
  //   script: [
  //     { type: 'text/javascript', src: 'https://cdn.jsdelivr.net/npm/proxy-polyfill@0.3.0/proxy.min.js', async: false, body: false}
  //   ]
  // }
};
</script>

<style lang='scss'>
html {
  overflow: hidden;
}

.base-layout {
  height: 100vh;
}
</style>
