<template lang="pug">
  game-list
            
</template>

<script>
import GameList from "~/components/casino/games/GameList.vue";


export default {
  components: {
    GameList
  },


};
</script>

<style>
</style>
