<template lang="pug">
  .hero.is-fullheight.is-bold.is-info
    .hero-body
      button(v-hoveranimation @click="cardModal('login')").button.is-danger.is-large Login
      button(v-hoveranimation @click="cardModal('registration')").button.is-danger.is-large Registration
</template>

<script>
import AppLogo from "~/components/AppLogo.vue";
import Authorization from "~/components/auth/Authorization.vue";

export default {
  components: {
    AppLogo,
    Authorization
  },

  methods: {
    cardModal(activeForm) {
      this.$modal.open({
        parent: this,
        component: Authorization,
        hasModalCard: true,
        props: {
          activeForm: activeForm
        }
      });
    }
  }
};
</script>

<style>
</style>
