<template lang="pug">
.hero.is-fullheight.is-unselectable
  socket-listener
  .hero-body.is-paddingless(v-if="socketIsConnected")
    .container.is-fluid.is-marginless.fullheight-container
      .columns.is-mobile.fullheight-columns.is-marginless
        .column.is-1(:style="leftNavWidth")
        .column.chart-column
          chart-tabs
        //- .column(style="flex:0;")
        //-   traders-forecast
        .column.is-1-fullhd.is-2-desktop.is-3-mobile
          bet-control-panel
  b-loading(v-else active=true is-full-page=true)
  left-nav
</template>

<script>
import BetControlPanel from "~/components/trade/BetControls/BetControlPanel";
import LeftNav from "~/components/trade/LeftNav/LeftNav";
import ChartTabs from "~/components/trade/Charts/ChartTabs";
import SocketListener from "~/components/trade/SocketListener";
import TradersForecast from "~/components/trade/TradersForecast";

import ws from "~/plugins/ws.js";

export default {
  components: {
    BetControlPanel,
    LeftNav,
    ChartTabs,
    SocketListener,
    TradersForecast
  },

  data() {
    return {
      leftNavWidth: "width: 100px"
    };
  },

  methods: {
    updateTime: function() {
      const newDate = Math.floor(Date.now() / 1000);
      this.$store.commit("updateCurrentTime", newDate);
    },
    setReady() {
      this.$store.commit("SET_SOCKET_READY");
      this.leftNavWidth = `width:${
        getComputedStyle(document.getElementById("leftNavMenuList")).width
      }`;
    }
  },

  computed: {
    socketIsConnected() {
      return this.$store.state.socket.isConnected;
    }
  },

  mounted() {
    setTimeout(() => this.setReady(), 5000);

    setInterval(() => this.updateTime(), 1000);

    const _this = this;
    // Получаем всю инфу кроме истории котировок
    this.$socket.request(
      "get-all",
      null,
      function(response) {
        console.log(response);
        _this.$store.dispatch("GET_ALL", response);
      },
      4000
    );
    // Получаем котировки
    this.$socket.request(
      "quotes-all",
      { id: _this.$store.state.activeTool },

      function(response) {
        // _this.$store.commit("SET_ACTIVE_TOOL_QUOTES", Object.values(response));
        console.log(JSON.parse(response));
      },
      4000
    );

    let now = Math.floor(Date.now() / 1000);
    this.$socket.request(
      "quotes-part",
      {
        id: 2,
        from: now - 60,
        to: now,
        type: "s"
      },
      function(response) {
        console.log(response);
      },
      4000
    );
  }
};
</script>

<style>
.fullheight-container {
  position: absolute;
  height: 100%;
  width: 100% !important;
}

.fullheight-columns {
  height: 100%;
}

.chart-column {
  padding-left: 0;
  padding-right: 0;
  width: 100px; /* Потому что. Так график ресайзится в меньшую сторону */
}

</style>
