<template lang="pug">
  .hero.is-fullheight.is-bold.is-info
    .hero-body
      test
</template>

<script>
// import Test from '~/components/Test.vue'

export default {
  components: {

  }
}
</script>

<style>

</style>
