<template lang="pug">
  .modal-card
    transition(mode="out-in" name="fade")
      remind-form(v-if="activeForm === 'remind'" @setActiveForm="activeForm=$event")
      registration-form(v-else-if="activeForm === 'registration'" @setActiveForm="activeForm=$event")
      login-form(v-else @setActiveForm="activeForm=$event")
</template>

<script>
import LoginForm from "~/components/auth/LoginForm.vue";
import RegistrationForm from "~/components/auth/RegistrationForm.vue";
import RemindForm from "~/components/auth/RemindForm.vue";

export default {
  components: {
    LoginForm,
    RegistrationForm,
    RemindForm
  },

  props: {
    activeForm: String
  }
};
</script>

<style lang="scss" scoped>
.modal-card {
  width: auto;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
