<template lang="pug">
  section
    form(action="")
      header.modal-card-head
        h1.modal-card-title Login
      .modal-card-body
        b-field(label="Email")
          b-input(
            type="email"
            :value="email"
            placeholder="Your email"
            required
          )
        b-field(label="Password")
          b-input(
            type="password"
            :value="password"
            placeholder="Your password"
            password-reveal
            required
          )
        a.help(@click="$emit('setActiveForm', 'remind')") Забыли пароль?
      footer.modal-card-foot
        button.button.is-fullwidth.is-primary.is-medium(
          type="button"
          v-hoveranimation 
          @click="$parent.close()"
        ) Login
        p.has-text-centered.help.is-fullwidth 
          | Нет аккаунта?<br />
          a(@click="$emit('setActiveForm', 'registration')") Зарегистрируйтесь
        
</template>

<script>

export default {
  components: {

  }
}
</script>

<style lang="scss" scoped>
.modal-card-foot {
  flex-wrap: wrap;

  .is-fullwidth {
    width: 100%;
  }

  .button.is-fullwidth:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }  
}
</style>
