<template lang="pug">
  section
    form(action="")
      header.modal-card-head
        h1.modal-card-title Registration
      .modal-card-body
        b-field(label="Email")
          b-input(
            type="email"
            :value="email"
            placeholder="Your email"
            required
          )
        b-field(label="Password")
          b-input(
            type="password"
            :value="password"
            placeholder="Your password"
            password-reveal
            required
          )
        .field.is-size-7 
          b-checkbox 
            |Я согласен с 
            a(href="terms-and-conditions" target="_blank") правилами и условиями
        .field.is-size-7
          b-checkbox Получать рассылку об акциях <br />по e-mail и смс
      footer.modal-card-foot
        button.button.is-fullwidth.is-primary.is-medium(
          type="button"
          v-hoveranimation 
          @click="$parent.close()"
        ) Registration
        p.has-text-centered.help.is-fullwidth 
          | Есть аккаунт?<br />
          a(@click="$emit('setActiveForm', 'login')") Войдите
        
</template>

<script>
export default {
  components: {}
};
</script>

<style lang="scss" scoped>
.modal-card-foot {
  flex-wrap: wrap;

  .is-fullwidth {
    width: 100%;
  }

  .button.is-fullwidth:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }  
}
</style>
