<template lang="pug">
  section
    form(action="")
      header.modal-card-head
        h1.modal-card-title Восстановление пароля
      .modal-card-body
        b-field(label="Email")
          b-input(
            type="email"
            :value="email"
            placeholder="Your email"
            required
          )
      footer.modal-card-foot
        button.button.is-fullwidth.is-primary.is-medium(
          type="button"
          v-hoveranimation 
          @click="$parent.close()"
        ) Отправить
        button.button.is-fullwidth.is-medium(type="button" @click="$emit('setActiveForm', 'login')") Отмена
        
</template>

<script>

export default {
  components: {

  }
}
</script>

<style lang="scss" scoped>
.modal-card-foot {
  flex-wrap: wrap;

  .is-fullwidth {
    width: 100%;
  }

  .button.is-fullwidth:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
</style>
