<template lang="pug">
p.current-quote
    span.current-quote__label: slot 
    span.current-quote__unchanged.has-text-white {{ unchanged }}
    span.current-quote__changed(:class="direction") {{ changed }}
</template>

<script>
export default {
  props: {
    quote: Number
  },

  data() {
    return {
      direction: "",
      changed: "",
      unchanged: ""
    };
  },

  created() {
      this.unchanged = this.quote
  },

  watch: {
    quote(newQuote, oldQuote) {
      newQuote += ''
      oldQuote += '' 

      function sharedStart(array) {
        let A = array.concat().sort(),
          a1 = A[0],
          a2 = A[A.length - 1],
          L = a1.length,
          i = 0;
        while (i < L && a1.charAt(i) === a2.charAt(i)) i++;
        return a1.substring(0, i);
      }

      const unchanged = sharedStart([newQuote, oldQuote]);

      if (newQuote > oldQuote) {
        this.direction = "has-text-success";
        this.changed = newQuote.slice(unchanged.length);
        this.unchanged = unchanged;
      } else if (newQuote < oldQuote) {
        this.direction = "has-text-danger";
        this.changed = newQuote.slice(unchanged.length);
        this.unchanged = unchanged;
      }
    }
  }
};
</script>

<style lang="scss">
// .current-quote {

//     &__changed {
//         transition: color .2s;
//     }
// }
</style>
