<template>
    <div></div>
</template>

<script>
export default {
  methods: {
    updateQuotes() {
      const _this = this;
      this.$socket.read("quotes-last", function(data) {
          _this.$store.commit('updateQuotes', {time: data.time * 1000, quotes: data.quotes})
      });
    },
    closeOption() {
      const _this = this;
      this.$socket.read("closeOption", function(data) {
          _this.$store.commit('CLOSE_OPTION', data)
          console.log(data)
      });
    }
  },

  mounted() {
    this.updateQuotes();
    this.closeOption();
  }
};
</script>