<template lang="pug">
.traders-forecast.box
    p 50%
    span.traders-forecast__up
    span.traders-forecast__down
    p 50%
</template>

<script>
export default {};
</script>

<style lang="scss">
.traders-forecast {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;

  .traders-forecast__up,
  .traders-forecast__down {
    border-radius: 2px;
    display: block;
    width: 2px;
    height: 50%;
  }

  .traders-forecast__up {
    background: $success;
    margin-top: .5rem;
  }

  .traders-forecast__down {
    background: $danger;
    margin-bottom: .5rem; 
  }
}
</style>
