<template lang="pug">
    //- v-tour(name="dashboardTour" :steps="steps")
    .tutorial.is-overlay(v-if="showTutorial")
      .tutorial-step(
        v-for="(step, index) in steps"
        :key="index"
        v-show="currentStep === index"
        ) 
        div(v-html="step.content")
        button.button.is-danger(
          v-hoveranimation 
          type="button"
          @click="currentStep++"
          ) Далее
      .stepper
        .stepper__step(
          v-for="(step, index) in steps"
          :key="index"
          :class="stepperClass(index)"
        )
</template>

<script>
export default {
  data() {
    return {
      showTutorial: false,
      currentStep: "",
      steps: [
        {
          target: "[data-v-step='1']",
          content: this.$store.state.translations.TUTORIAL_STEP_1
        },
        {
          target: "[data-v-step='2']",
          content: this.$store.state.translations.TUTORIAL_STEP_2,
          params: {
            placement: "left"
          }
        },
        {
          target: "[data-v-step='3']",
          content: this.$store.state.translations.TUTORIAL_STEP_3,
          params: {
            placement: "left"
          }
        },
        {
          target: "[data-v-step='4']",
          content: this.$store.state.translations.TUTORIAL_STEP_4
        },
        {
          target: "[data-v-step='5']",
          content: this.$store.state.translations.TUTORIAL_STEP_5,
          params: {
            placement: "left"
          }
        },
        {
          target: "#deals",
          content: this.$store.state.translations.TUTORIAL_STEP_6,
          params: {
            placement: "right"
          }
        }
      ]
    };
  },

  computed: {},

  methods: {
    stepperClass(index) {
      let result = "";
      if (index === this.currentStep) {
        result = "is-active";
      } else if (index < this.currentStep) {
        result += " is-complete";
      }
      return result;
    },
    start() {
      this.currentStep = 0;
      this.showTutorial = true;
      this.highlightTarget(this.steps[0].target);
      document.body.classList.add('tutorial-activated')
    },
    finish(step) {
      this.showTutorial = false;
      this.removeHighlighting(this.steps[step].target);
      document.body.classList.remove('tutorial-activated')
    },
    replay() {},
    highlightTarget(selector) {
      // Подкладываем оверлэй и выделяем элемент
      const target = document.querySelector(selector);
      target.parentNode.insertBefore(this.$el, target);
      target.classList.add("highlighted");
    },
    removeHighlighting(selector) {
      document.querySelector(selector) &&
        document.querySelector(selector).classList.remove("highlighted");
    }
  },

  watch: {
    currentStep(nextStep, prevStep) {
      // Если шаг последний - заканчиваем
      if (nextStep === this.steps.length) {
        this.finish(this.steps.length - 1);
      } else {
        // Или показываем следующий шаг обучения
        this.highlightTarget(this.steps[nextStep].target);
        this.removeHighlighting(
          this.steps[prevStep] && this.steps[prevStep].target
        );
      }
    }
  },

  mounted() {}
};
</script>

<style lang="scss">
.tutorial-activated .ps-container {
  position: unset!important;
}

.tutorial {
  background: $overlay;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;

  .tutorial-step {
    z-index: 3;
    text-align: center;
    max-width: 320px;

    p {
      color: $success;
      font-weight: bolder;
      font-size: 1.2em;
    }

    small {
      font-size: 1em;
      color: white;
    }

    .button {
      margin-top: 1rem;
    }
  }

  .stepper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, transparent 45%,$fontGrey 45%,$fontGrey 55%, transparent 55%);

    .stepper__step {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: $fontGrey;

      &.is-complete {
        background: $success;
      }

      &.is-active {
        background: $success;
        box-shadow: 0px 0px 2px 4px rgba($success, 0.5);
        box-sizing: content-box;
      }
    }
  }
}
.highlighted {
  box-sizing: border-box;
  position: relative;
  border: 2px solid $success;
  z-index: 3;
  pointer-events: none;
  border-radius: 6px;
}
</style>

